
<ng-container *ngIf= "!filterOpen">
        <li class="card card-body" style="margin-right:80px;margin-left:80px" >
            <span>
                <h2>Time Series for POI </h2>
                <div [chart]="chart_poiTweets"></div></span>

                <h2>Time Series for POI replies </h2>
                <div [chart]="chart"></div>

               <br>
               <br>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <h1>Language Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_lang"></div>
                        </div>
                        <br>
                        <br>
                        <div class="col-6">
                            <h1>Country Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_country"></div>
                        </div>
                    </div>
                </div>
                <br>
                <h1>Overall Top Hashtags</h1>
                <div [chart]="doughnut"></div>
                <br>
                <h1>Country Wise Top Hashtags</h1>
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_brazil_hashtags"></a>
                        </div>
                </div>

                <h1>POI Sentiment Distribution</h1>
                <div [chart] ="stackedBarChart"></div>
                <br>

                <h1>Topic Wise Distribution</h1>
                <div [chart] ="topicWiseChart"></div>
                <br>

                <h1>Country Wise Distribution of Tweets</h1>
                <br>
                <div class="row" style="margin-left:420px ;margin-bottom: 50px;margin-top: 20px;">  <div [chart]="mapChart"></div>  </div>
                <h1>Country Wise Sentiment Analysis</h1>
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_brazil"></a>
                        </div>
                </div>
                <br>


        </li>
</ng-container>

<ng-container *ngIf= "filterOpen">
        <li class="card card-body" style="margin-right:80px;margin-left:350px" >
            <span>
                <h2>Time Series for POI </h2>
                <div [chart]="chart_poiTweets"></div></span>

                <h2>Time Series for POI replies </h2>
                <div [chart]="chart"></div>


                <div>
                    <div class="row">
                        <div class="col-6">
                            <h1>Language Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_lang"></div>
                        </div>
                        <div class="col-6">
                            <h1>Country Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_country"></div>
                        </div>
                    </div>
                </div>

                <h1>Overall Top Hashtags</h1>
                <div [chart]="doughnut"></div>
                <h1>Country Wise Top Hashtags</h1>
                <!-- <h3>No Hastags Found</h3> -->
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_brazil_hashtags"></a>
                        </div>
                </div>

                <h1>POI Sentiment Distribution</h1>
                <div [chart] ="stackedBarChart"></div>

                <h1>Topic Wise Distribution</h1>
                <div [chart] ="topicWiseChart"></div>

                <h1>Country Wise Sentiment Analysis</h1>

                <div class="row" style="margin-left:400px;margin-bottom: 20px;">
                     <div [chart]="mapChart" ></div>

                </div>
                <br>
                <div class="row">

                        <div class="col-4">
                            <a [chart]="pie_India"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_brazil"></a>
                        </div>
                </div>

        </li>
</ng-container>



<!-- <h1>word cloud</h1>
<div AgWordCloud #word_cloud_chart=ag-word-cloudwordData [wordData]="wordData" [options]="wordoptions">
</div> -->
<!-- <div AgWordCloud
    #word_cloud_chart=ag-word-cloud
    [wordData]="wordData1"
     [options]="wordoptions">
</div> -->
<!-- <div AgWordCloud [wordData]="wordData1" [options]="options"></div> -->
<!-- </div> -->









