<!-- <ng-sidebar-container>
 
    <ng-sidebar [(opened)]="_opened">
        <p>Sidebar contents</p>
    </ng-sidebar>

    <div ng-sidebar-content>
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
    </div>

</ng-sidebar-container> -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<span style="font-size:30px;cursor:pointer" tooltip="Open Filter Panel" (click)="openNav()">&#9776; open</span>